<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Formations</title>
</head>
<body>
<br>
<div role="introduction aux ressources">
  <div class="card justify-content">
    <div class="card-body col-md-9">
      <h3><strong>Introduction</strong></h3>
      <p>Handshake est une plateforme collaborative et solidaire qui vise à faciliter la mise en relation entre des bénévoles souhaitant <br>se rendre utile et des personnes en situation de handicap.</p>
      <p>Notre démarche a pour but de faire évoluer le regard sur le handicap au travers de diverses ressources informatives, telle que<br> la formation par exemple, afin de donner des clés pour favoriser une société plus inclusive.</p>
      <p>Pour ce faire nous vous proposons plusieurs MOOCs de découverte sur différentes problématiques du handicap</p>
      <p>À terme nous esperons pouvoir vous proposer des formations complètes de sensibilisation aux handicaps.</p>
      </div>
    </div>
  </div>

<br>
  <div class="card col-md-9">
    <div class="card-header">
    Formations
    </div>
    <div class="card-body ">
      <h5 class="card-title">Sensibilisation au handicap : devenez acteur d'une société plus inclusive</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <ul>
        <li>Module 1 : Définir le handicap</li>
        <li>Module 2 : les formes de handicap</li>
        <li>Module 3 : le handicap dans la société</li>
        
      </ul>
      <a href="https://sensibilisation-au-handicap.the-mooc-agency.com/" class="btn btn-primary">lien vers le mooc de sensibilisation au handicap</a>
    </div>
  </div>
<br>

  <div class="card col-md-9">
    <div class="card-header">
      https://www.my-mooc.com/fr/mooc/handicap-et-entreprise/
    </div>
    <div class="card-body">
      <h5 class="card-title">Handicap et entreprise: intégrez durablement le handicap dans votre entreprise</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <ul>
        <li>Module 1 : Dépassez vos a priori sur le handicap dans l’entreprise</li>
        <li>Module 2 : Répondez aux obligations légales en matière de handicap</li>
        <li>Module 3 : Recrutez et intégrez un salarié en situation de handicap</li>
        <li>Module 4 : Accompagnez un salarié rencontrant des difficultés de santé au travail</li>
      </ul>
      
    <a href="https://www.my-mooc.com/fr/mooc/handicap-et-entreprise/" class="btn btn-primary">lien vers le mooc handicap et entreprise</a>
    </div>
  </div>
<br>

  <div class="card col-md-9">
    <div class="card-header">
      https://handimooc.fr/ 
    </div>
    <div class="card-body col-md-9">
      <h5 class="card-title">HandiMOOC : Pour aider les personnes en situation de handicap à rechercher un emploi</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
       <ul>
        <li>Module 1 : handicap et projet professionnel</li>
        <li>Module 2 : organiser et outiller votre recherche d'emploi</li>
        <li>Module 3 : communiquer sur votre situation de handicap</li>
       </ul>
      <a href="https://handimooc.fr/ " class="btn btn-primary">lien vers le mooc d'aide à la recherche d'emploi pour personnes handicapées</a>
    </div>
  </div>
<br>

</body>
</html>