			<div class="col-xs-12 px-3 py-2 my-5">	
				<form class="form-horizontal">
					<div class="col-xs-12 col-sm-8 col-sm-offset-2 zipcode-container mx-auto">
					<%=form_tag ads_path(), method: 'patch' do%>
						<div class="input-group">
							
								<%=select_tag 'city', options_for_select(city_list, ''), class: "form-control"%>
							<div class="input-group-btn">
								<%= submit_tag "Je trouve ", class: "btn btn-primary-css "%>
							</div>
							
						</div>
						 <% end %>  
					</div>
				</form>
			</div>