<div class="jumbotron-fluid text-center jumbo jumbo-huge jumbo-img img-center mb-5">
  <div class="container">
      <div class="jumbo-layer"></div>
      <h1 class="display-3">Mes annonces</h1>
      <h3>Tous les annonces </h3>
      <p>Créez et participez les annones de votre ville!</p>
  </div>
</div> 