<div class="container mt-4 mb-3">
  <%=form_with url: ad_images_path(@ad.id) do |f|%> 
    <div class="custom-file mb-3">
      <%=f.file_field :image, class: "custom-file-input" %>
      <%=f.label :image, 'Image', class: "custom-file-label"%>
    </div>
    <%=f.submit "Ajouter", class: "btn btn-primary-css"%>
  <%end%>
</div>