



<form>
   
    
  <%= form_tag url_for(new_ad_path), method: "post" do %>
      </ul>
    </div>


  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="row justify-content-center mt-4 mb-2 ">
   
  <div class="row justify-content-center mt-4 mb-2 ">
    <p style = "width: 400px"> Title : <input style="width:400px; height:30px" type="text" name=" title"></p>
  </div>

  <div class="row justify-content-center m-2">
    <p style = "width: 400px"> Description   : <input style="width:400px; height:150px" type="text" name="description" ></p>
  </div>
  
  <div class="row justify-content-center m-2">
    <p style = "width: 400px"> Adress : <input style="width:400px; height:30px" type="text" name="Adress"></p>
  </div>
  <div class="row justify-content-center m-2">
    <p style = "width: 400px"> Zip_code: <input style="width:400px; height:30px" type="number" name="zip_code"></p>
  </div>
  <div class="row justify-content-center m-2">
    <p style = "width: 400px"> Date format : ('YYYY-MM-DD') <input style="width:400px; height:30px" type="date" name="date"></p>
  </div>
 
   <div class="row justify-content-center m-2">
    <p style = "width: 400px"> Phone: <input style="width:400px; height:30px" type="text" name="phone"></p>
  </div>
  <div class="form-group d-flex my-3">
            <%= submit_tag "Envoyer", class: 'btn btn-primary mr-2' %>
            <%= link_to "Accueil", ads_path, class: "btn btn-secondary" %>
        </div>
  <% end %>
</form>
</div>
