<% if @users_with_conversation.empty? %>
  <h3>Vous n'avez pas encore de conversation</h3>
<% else %>
  <h3>Mes conversations</h3>
  <% @users_with_conversation.each do |user| %>
    <%= link_to user_messages_path(user) do %>
      <p>Conversation avec <%= user.first_name %></p>
    <% end %>
  <% end %>
<% end %>
