
<p>Bonjour à toi admin handshake, un utilisateur nous écrit :</p><br>

<p>Sender : <%= @contact.first_name %> <%= @contact.last_name %> </p>
<p>====================</p>
<p><%= @contact.message %></p>
<p>====================</p>
