<div role="banner" class="jumbotron img-center container-fluid img-hero text-white dark-overlay" style="background-image:url('<%= asset_path('contact.jpg', alt:"image de plusieurs carnets ancens accompagnés d'une plume") %>')">
  <div class="row ">
    <div class="shadowing mx-auto align-self-center">
      <h1>Besoin de nous contacter ?</h1>
      <h2>Laissez-nous un message !</h2>
    </div>
  </div>
</div>