<div class="background">
<%= render 'contact/herobanner'%>
<section class="py-5 bg-gray-100">
  <div class="container">
    <div class="row">
      <%= render 'contact/contactform'%>
      <div class="col-md-5">
        <div class="pl-lg-4">
          <h4 class="text-primary">Comment nous contacter ?</h4><br>
          <div class="text-color-black">
          <h5>Par email</h5>
          <p>Via le formulaire de contact ci-contre.<br>
            Notre temps de réponse moyen est inférieur à 1h, dans les tranches horaires suivantes :</p>

          <h5 class="text-muted">Par téléphone : 01 23 45 67 89</h5>

          <ul>
            <li class="list-item">de 8h à 21h du lundi au vendredi</li>
            <li class="list-item">de 10h à 18h le samedi</li>
          </ul>

          <h5>Par courrier</h5>
          <p>Hand Shake,<br>
            63 rue de Courcelles,<br>
            75008, Paris, France</p>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>