.img-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}

.text-color-white {
    color:#fff;

}

.zipcode-container {

    width: 450px !important;
}