<div role="banner" class="jumbotron img-center img-hero" style="background-image:url('<%= asset_path('hero.jpg', alt:"deux personnes assises se tenant la main") %>')">
    <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold "style="color: white">HANDSHAKE </h1>
    <h2 class="display-5 fw-bold "style="color: white">Des initiatives solidaires pour rapprocher les coeurs et ouvrir son regard sur le handicap </h2>
    <div class="col-lg-6 mx-auto">
    <p class="lead mb-4" style="color: white">Bienvenue sur la plateforme collaborative qui facilite la mise en relation entre des bénévoles bienveillants et des personnes en situation de handicap  </p>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <%=link_to 'Voir les annonces', ads_path, class: 'btn btn-primary btn-lg px-4 gap-3'%>
      </div>
    </div>
    </div>
</div>



    