<div class="jumbotron img-center img-hero" style="background-image:url('<%= asset_path('hero.jpg') %>')">
    <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">HANDSHAKE</h1>
    <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <%=link_to 'Voir les annonces', ads_path, class: 'btn btn-primary btn-lg px-4 gap-3'%>
      </div>
    </div>
    </div>
</div>



    