<div role="banner" class="jumbotron img-center container-fluid img-hero" style="background-image:url('<%= asset_path('hero.jpg', alt:"
  deux personnes assises se tenant la main") %>')">
  <div class="px-4 py-2 my-2 resmargin text-center">
    <h1 class="display-5 fw-bold text-color-white shadowing">Des initiatives solidaires pour rapprocher les coeurs et ouvrir son
    regard sur le handicap</h1>
   
    <div class="col-lg-6 mx-auto">
      <h2 class="lead mb-4 font-correction text-color-white shadowing">Bienvenue sur HANDSHAKE la plateforme collaborative qui facilite la mise en
        relation entre bénévoles bienveillants et personnes en situation de handicap </h2>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <%=link_to 'Voir les annonces' , ads_path, class: 'btn btn-primary-css btn-lg px-4 gap-3' %>
      </div>
    </div>
  </div>
</div>
    

